input
output
.venv
.DS_Store
annotated_images.zip
fixed_annotated_images.zip
fixed_annotated_images/
input1/
output_blurred_image.png
image.png
imgs_from_vid.ipynb
output_blue_image.png
videos.txt
vids/
white_background_images/
yt1/
yt2/
yt3/